modules/transaction/transaction-portlet/src/main/resources/xsd/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://connect.cuscal.com.au/person/1.0" xmlns="http://connect.cuscal.com.au/person/1.0"
	elementFormDefault="qualified">
	<xsd:element name="Person" type="PersonType" />
	<xsd:complexType name="PersonType">
		<xsd:sequence>
			<xsd:element name="FirstName" type="xsd:string" />
			<xsd:element name="LastName" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>