modules/transaction/transaction-portlet/src/main/resources/xsd/transactionQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" xmlns="http://connect.cuscal.com.au/transactionQuery/1.0"
	xmlns:person="http://connect.cuscal.com.au/person/1.0" targetNamespace="http://connect.cuscal.com.au/transactionQuery/1.0">
	<xsd:import schemaLocation="person.xsd"
		namespace="http://connect.cuscal.com.au/person/1.0"></xsd:import>
	<xsd:element name="TransactionQueryRequest" type="TransactionQueryRequestType" />
	<xsd:element name="TransactionQueryResponse" type="TransactionQueryResponseType" />
	<xsd:complexType name="TransactionQueryRequestType">
		<xsd:sequence>
			<xsd:element ref="person:Person" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TransactionQueryResponseType">
		<xsd:sequence>
			<xsd:element name="Greetings" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema> 


